* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-in2 {
  animation: fadeIn 2.5s;
}

.fade-in3 {
  animation: fadeIn 3s;
}

.fade-in4 {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(50, 56, 56, 0.1), rgba(190, 44, 44, 0.6)), url(../images/bbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  color: black;
}

.navbar {
  padding-top: 60px;
  padding-bottom: 0;
}

.navicon {
  height: 20px;
  width: 20px;
}

.btn {
  color: black;
  border-color: rgba(183, 56, 56, 0.3);
  background-color: rgba(183, 56, 56, 0.3);
}

.btn a {
  font-weight: bold;
}

.btn:hover {
  color: white;
  border-color: rgba(183, 56, 56, 0.3);
  background-color: rgba(183, 56, 56, 0.1);
}

/*-----Nav*/
.site-logo {
  max-width: 50px;
  max-height: 30px;
}

nav ul {
  margin: 0;
  margin-left: auto;
}

nav ul li {
  display: inline;
  font-size: 11px;
  letter-spacing: 3px;
  padding: 10px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  text-shadow: 2px 2px 4px black;
}

/*-----leMe*/
.lePic {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

main {
  height: 450px;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;
  margin-left: 8%;
  margin-right: 8%;
  object-fit: cover;
}

main .ledetails {
  margin-left: 10%;
  text-align: right;
  word-spacing: 2px;
  z-index: 10;
  color: gainsboro;
  text-shadow: 2px 2px 4px black;
}

main h1 {
  font-size: 50px;
  margin-bottom: 0;
}

main h1 .mingzi {
  font-family: "Rokkitt", serif;
  margin-bottom: 0;
}

main p .jobtitle {
  font-family: "Rokkitt", serif;
}

.mingzi:hover {
  font-size: 0px;
}

.mingzi:hover:before {
  font-size: 50px;
  content: attr(data-hover);
}

.jobtitle:hover {
  font-size: 0px;
}

.jobtitle:hover:before {
  font-size: 18px;
  font-weight: bold;
  content: attr(data-hover);
}

.projectimages {
  height: 20em;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.projectimagescontainer {
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.projectimages {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.trymiddle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.hoverp {
  color: white;
}

.trycontainer {
  margin-top: 3%;
  margin-bottom: 3%;
}

.trycontainer:hover .projectimages {
  opacity: 0.5;
  background-color: rgba(66, 54, 44, 0.6);
}

.trycontainer:hover .trymiddle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.titleheader {
  font-size: 35px;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*About*/
.subnav {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  justify-content: center;
}

.daxue li {
  padding: 10px;
}

li .daxuelink {
  color: black;
}

li .daxuelink:hover {
  color: black;
}

.aboutmesec {
  width: 100%;
}

.aboutmenav {
  padding-bottom: 3%;
}

.aboutmenav ul li a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

#myTab li a {
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

.tab1 .iconset1 {
  padding-top: 5%;
}

.tab1 .iconset2 {
  padding-bottom: 5%;
}

.tab1 ul {
  justify-content: center;
}

.tab1 ul li {
  list-style: none;
  margin-right: 10px;
  font-size: 50px;
}

.tab2 ul {
  padding-top: 5%;
  padding-bottom: 5%;
}

.tab2 ul li {
  justify-content: center;
  list-style: none;
}

.tab3 h4 {
  padding-top: 3%;
  justify-content: center;
}

.socMedLogos a img {
  height: 20px;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.wechat:hover {
  height: 0px;
}

.wechat:hover:before {
  height: 20px;
  content: attr(data-hover);
}

.hangout:hover {
  height: 0px;
}

.hangout:hover:before {
  height: 20px;
  content: attr(data-hover);
}

.footerp p {
  margin-bottom: 0;
}

/*---------@MEDIA---------------*/
@media (max-width: 354px) {
  .btn {
    font-size: 1em;
  }

  .socMedLogos {
    display: flex;
    justify-content: center;
  }

  .mingzi:hover:before {
    font-size: 30px;
    margin-bottom: 0;
    content: attr(data-hover);
  }

  #myTab li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
  }

  #myTab {
    display: block;
  }
}
@media (max-width: 403px) {
  .navicon {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding-top: 40px;
  }

  nav {
    margin-top: 3%;
  }

  nav ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  nav ul li {
    letter-spacing: 1px;
  }

  a .btn {
    font-size: 14em;
  }

  .lePic {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }

  .lePicDiv {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  main .ledetails {
    text-align: center;
    margin-top: 10%;
    margin-left: 0;
  }

  main {
    margin-top: 20px;
  }

  main h1 {
    font-size: 32px;
  }

  main h1:hover {
    font-size: 32px;
    margin-bottom: 0px;
  }

  main p {
    font-size: 16px;
  }

  .projectimages {
    height: 15em;
  }

  .tab1 ul {
    justify-content: center;
  }

  .tab1 ul li {
    list-style: none;
    margin-right: 10px;
    font-size: 50px;
  }

  .tab1 ul li i {
    font-size: 35px;
  }

  #myTab li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
  }

  #myTab {
    display: block;
  }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
  nav ul {
    margin-left: auto;
    margin-right: auto;
  }

  nav ul li {
    font-size: 11px;
  }

  .lePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .lePicDiv {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1em;
  }

  main {
    padding-top: 20px;
  }

  main .ledetails {
    text-align: center;
    margin-top: 32px;
    margin-left: 0;
  }

  main h1 {
    font-size: 36px;
  }

  main p {
    font-size: 18px;
  }

  .tab1 ul {
    justify-content: center;
  }

  .tab1 ul li {
    list-style: none;
    margin-right: 10px;
    font-size: 45px;
  }

  .tab1 ul li i {
    font-size: 40px;
  }

}
@media only screen and (min-width: 769px) {
  .container-fluid {
    margin-top: 15px;
  }

  main {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 80px;
  }

  .ledetails p {
    font-size: 18px;
  }

  .projectimages {
    height: 20em;
    width: 100%;
  }

  .abtmepar {
    padding-left: 15%;
    padding-right: 15%;
  }
}
